data/festival.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:simpleType name="festivalIdType"><!-- Custom restriction: festival IDs must use prefix F and three digits --><xs:restriction base="xs:string"><xs:pattern value="F\d{3}"/></xs:restriction></xs:simpleType>
  <xs:simpleType name="venueIdType"><!-- Custom restriction: venue IDs must use prefix V and three digits --><xs:restriction base="xs:string"><xs:pattern value="V\d{3}"/></xs:restriction></xs:simpleType>
  <xs:simpleType name="performerIdType"><!-- Custom restriction: performer IDs must use prefix P and three digits --><xs:restriction base="xs:string"><xs:pattern value="P\d{3}"/></xs:restriction></xs:simpleType>
  <xs:simpleType name="eventIdType"><!-- Custom restriction: event IDs must use prefix E and three digits --><xs:restriction base="xs:string"><xs:pattern value="E\d{3}"/></xs:restriction></xs:simpleType>
  <xs:simpleType name="editionType"><!-- Custom restriction: edition must stay in a reasonable positive range --><xs:restriction base="xs:positiveInteger"><xs:minInclusive value="1"/><xs:maxInclusive value="99"/></xs:restriction></xs:simpleType>
  <xs:simpleType name="capacityType"><!-- Custom restriction: venue capacity must be between 1000 and 50000 --><xs:restriction base="xs:positiveInteger"><xs:minInclusive value="1000"/><xs:maxInclusive value="50000"/></xs:restriction></xs:simpleType>
  <xs:simpleType name="durationType"><!-- Custom restriction: event duration must be between 15 and 240 minutes --><xs:restriction base="xs:positiveInteger"><xs:minInclusive value="15"/><xs:maxInclusive value="240"/></xs:restriction></xs:simpleType>
  <xs:simpleType name="venueTypeEnum"><!-- Custom restriction: venue type must be one of the supported values --><xs:restriction base="xs:string"><xs:enumeration value="open-air"/><xs:enumeration value="tent"/><xs:enumeration value="hall"/></xs:restriction></xs:simpleType>
  <xs:simpleType name="performerGenreEnum"><!-- Custom restriction: performer genre is limited to festival genres --><xs:restriction base="xs:string"><xs:enumeration value="pop"/><xs:enumeration value="rap"/><xs:enumeration value="rock"/></xs:restriction></xs:simpleType>
  <xs:simpleType name="performerTypeEnum"><!-- Custom restriction: performer type must distinguish artist and band --><xs:restriction base="xs:string"><xs:enumeration value="artist"/><xs:enumeration value="band"/></xs:restriction></xs:simpleType>
  <xs:simpleType name="countryType"><!-- Custom restriction: country field is limited to local or international labels --><xs:restriction base="xs:string"><xs:enumeration value="international"/><xs:enumeration value="czechia"/></xs:restriction></xs:simpleType>
  <xs:simpleType name="timeType"><!-- Custom restriction: event time must use 24-hour HH:MM format --><xs:restriction base="xs:string"><xs:pattern value="([01]\d|2[0-3]):[0-5]\d"/></xs:restriction></xs:simpleType>
  <xs:element name="festival"><xs:complexType><xs:sequence>
    <xs:element name="identity"><xs:complexType><xs:sequence><xs:element name="location" type="xs:string"/><xs:element name="theme" type="xs:string"/></xs:sequence></xs:complexType></xs:element>
    <xs:element name="venues"><xs:complexType><xs:sequence><xs:element name="venue" maxOccurs="unbounded"><xs:complexType><xs:sequence><xs:element name="name" type="xs:string"/><xs:element name="description" type="xs:string"/></xs:sequence><xs:attribute name="id" type="venueIdType" use="required"/><xs:attribute name="type" type="venueTypeEnum" use="required"/><xs:attribute name="capacity" type="capacityType" use="required"/></xs:complexType></xs:element></xs:sequence></xs:complexType></xs:element>
    <xs:element name="performers"><xs:complexType><xs:sequence><xs:element name="performer" maxOccurs="unbounded"><xs:complexType><xs:sequence><xs:element name="name" type="xs:string"/></xs:sequence><xs:attribute name="id" type="performerIdType" use="required"/><xs:attribute name="genre" type="performerGenreEnum" use="required"/><xs:attribute name="type" type="performerTypeEnum" use="required"/><xs:attribute name="country" type="countryType" use="required"/></xs:complexType></xs:element></xs:sequence></xs:complexType></xs:element>
    <xs:element name="events"><xs:complexType><xs:sequence><xs:element name="event" maxOccurs="unbounded"><xs:complexType><xs:sequence><xs:element name="title" type="xs:string"/></xs:sequence><xs:attribute name="id" type="eventIdType" use="required"/><xs:attribute name="performerRef" type="performerIdType" use="required"/><xs:attribute name="venueRef" type="venueIdType" use="required"/><xs:attribute name="date" type="xs:date" use="required"/><xs:attribute name="time" type="timeType" use="required"/><xs:attribute name="duration" type="durationType" use="required"/></xs:complexType></xs:element></xs:sequence></xs:complexType></xs:element>
    <xs:element name="summary" type="xs:string"/>
    <xs:element name="description" type="xs:string"/>
    <xs:element name="tickets"><xs:complexType><xs:attribute name="currency" type="xs:string" use="required"/><xs:attribute name="presalePrice" type="xs:positiveInteger" use="required"/><xs:attribute name="regularPrice" type="xs:positiveInteger" use="required"/><xs:attribute name="url" type="xs:anyURI" use="required"/></xs:complexType></xs:element>
    <xs:element name="links"><xs:complexType><xs:sequence><xs:element name="link" maxOccurs="unbounded"><xs:complexType><xs:attribute name="rel" type="xs:string" use="required"/><xs:attribute name="href" type="xs:anyURI" use="required"/></xs:complexType></xs:element></xs:sequence></xs:complexType></xs:element>
  </xs:sequence><xs:attribute name="id" type="festivalIdType" use="required"/><xs:attribute name="name" type="xs:string" use="required"/><xs:attribute name="edition" type="editionType" use="required"/><xs:attribute name="city" type="xs:string" use="required"/><xs:attribute name="country" type="xs:string" use="required"/><xs:attribute name="startDate" type="xs:date" use="required"/><xs:attribute name="endDate" type="xs:date" use="required"/></xs:complexType></xs:element>
</xs:schema>
